@import '../../styles/commons';


.mini_appbar {
    background-color: $WHITE_COLOR;
}


.mini_appbar__title__container {
    flex: 1;
}

.mini_appbar__title__container__title {
    text-align: center;
    font-weight: 900;
    font-family: Oswald;
}

.mini_appbar__actions {
    flex: 1;
}