@import '../../styles/commons';


.add_metalink {
    position: relative;
    padding: 1rem;
}


.add_metalink__button {
    margin: auto;
}
.add_metalink__close_button {
    margin: auto;
}


.avatar_display {
    position: relative;

    aspect-ratio: 4/2;

    background-color: bisque;

    border-radius: $BOX_SHADOW_HOVER_SM;
}