@import '../../styles/commons';


.profile_avatars_container {
    position: relative;

    min-height: 440px;
    width: 100%;

    // background-color: red;

    @media screen and (max-width: 560px) {
        min-height: 320px;
    }
}

.profile_avatars_container__avatar_container__big_avatar {
    top: 0;
    left: 0;
    right: 0;
    bottom: 20%;

    background-repeat: none;
    background-size: cover;
    background-position: center;
    

    @media screen and (max-width: 560px) {
        bottom: 15%;
    }
}

.profile_avatars_container__avatar_container {
    bottom: 0;
    left: 0;
    right: 0;

    min-height: 120px;
}

.profile_avatars_container__avatar_container__avatar {
    width: 200px;
    height: 200px;

    border-radius: 50%;

    border: .32rem solid $WHITE_COLOR;

    @media screen and (max-width: 560px) {
        width: 120px;
        height: 120px;  
    }
}


.profile_info_container {
    margin: auto;

    max-width: 800px;
}

.profile_info_container__bio {
    text-align: center;
}

.profile_info_container__chips {
    width: 100%;
}
